@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.333;
    --lime: #a4ffa2;
    --magenta: #f47dda;
    --magenta50: #f47dda80;
    --white: #ffffff;
    --tan: #cec5b4;
    --teal: #2e6d81;
    --cyan: #7de6f4;
    --black: #050d14;
    --tame-impala: #191919;

    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
  }

  html {
    font-size: 100%;
  } /*16px*/

  body {
    background: var(--tame-impala);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--white);
    margin: 0;
    text-align: center;
  }

  p {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 3rem 0 1.38rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.3;
  }

  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  h5 {
    font-size: var(--h5);
  }

  h6 {
    font-size: var(--h6);
  }

  small,
  .text_small {
    font-size: 0.8rem;
  }

  .wrapper {
    max-width: 375px;
    margin: 0 auto;
  }
  a {
    color: var(--lime);
  }
  a:hover {
    color: var(--cyan);
    text-decoration: none;
  }

  figure,
  blockquote {
    margin: 0;
  }
}

@layer header {
  h3,
  .h3 {
    font-size: var(--h3);
  }
  img {
    width: 100%;
    max-width: 100%;
  }
  header {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  header img {
    max-width: 150px;
  }
}

@layer tours {
  .date {
    color: var(--tan);
  }
  .club {
    color: var(--lime);
    font-size: var(--h5);
    cursor: pointer;
  }

  @media (min-width: 800px) {
    .wrapper {
      max-width: 800px;
      padding: 0 2rem;
    }

    main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    main h1 {
      grid-area: 1 / 1 / 2 / 4;
    }
  }
}

@layer reviews {
  .imggroup {
    margin-top: 2rem;
  }
  .star {
    width: 18px;
  }

  figcaption {
    margin-top: 10px;
  }

  cite {
    display: block;
    margin-top: -15px;
    font-style: normal;
  }
  @media (min-width: 800px) {
    aside {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
}

@media (min-width: 1025px) {
  .wrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 2rem;
  }

  main {
    grid-area: 1 / 2 / 5 / 3;
    display: block;
    padding-top: 8rem;
  }
}
