@layer base {
    :root {
        --base-size:1rem;
        --scale:1.333;
        --lime: #a4ffa2;
        --magenta: #f47dda;
        --magenta50: #f47dda80;
        --white: #ffffff;
        --tan: #cec5b4;
        --teal: #2e6d81;
        --cyan: #7de6f4;
        --black: #050d14; 
        --vacationer-bg: #f2c57d;
        --vacationer-text-color: #6d0909;
        --vacationer-secondary-text-color: #DE8C09;
      
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);
    }

html {font-size: 100%;} /*16px*/

body {
  background: var(--vacationer-bg);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--white);
  margin: 0;
  text-align: center;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

  h1 {
    font-size: var(--h1);
  }
  
  h2 {
    font-size: var(--h2);
  }
  
  h3 {
    font-size: var(--h3);
  }
  
  h4 {
    font-size: var(--h4);
  }
  
  h5 {
    font-size: var(--h5);
  }
  
  h6 {
    font-size: var(--h6);
  }

  small, .text_small {font-size: 0.8rem;}

  .wrapper {
    max-width: 375px;
    margin: 0 auto;
  }
  a {
    color: var(--vacationer-text-color);
    }
    a:hover {
        color: var(--black);
        text-decoration: none;
    }
}

@layer header {
    h3,
    .h3 {
      font-size: var(--h3);
    }
    img {
        width: 100%;
        max-width: 100%;
    }
    header {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    header img {
        max-width: 150px;
    }
}

@layer tours {
    .date {
        color: #DE8C09;
    }
    .club {
        color: var(--vacationer-text-color);
        font-size: var(--h5);
    }

    @media (min-width: 800px) {
        .wrapper {
            max-width: 800px;
            padding: 0 2rem; 
        }
    
        main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    
        main h1 {
            grid-area: 1 / 1 / 2 / 4;
        }
    }
}

@layer reviews {
   .imggroup {
        margin-top: 2rem;
   } 
   .star {
        width: 18px;
   }
   blockquote {
    margin: 0;
   }
   figcaption {
    margin-top: 10px;
   }
   cite {
    display: block;
    margin-top: -15px;
    font-style: normal;
   }
   @media (min-width: 800px) {
      aside {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
   }
}

@media (min-width: 1025px) {
  .wrapper{
    max-width:1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 2rem;
  }

  main {
    grid-area: 1 / 2 / 5 / 3;
    display: block;
    padding-top: 8rem;
  }
}

@layer skeleton {
  .cards {
    display: flex;
  }
  
  .card {
    margin: 10px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  .card .image img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card .image .content {
    padding: 20px 30px;
  }

  .card.is-loading .image, 
  .card.is-loading h2,
  .card.is-loading p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  } 
    
  
    .card.is-loading .image {
      height: 200px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .card.is-loading h2 {
      height: 30px;
    }
  
    .card.is-loading p {
      height: 70px;
    }
    
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
}
